.plain-image {
  border: 0 !important;
  background: none !important;
}

.left {
  float: left;
}

.right {
  float: right;
};

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.autobombo-list {
  margin-top: 15px !important;
  list-style-type: circle !important;
}
